# API para obtener la ubicación aproximada por IP
NEXT_PUBLIC_IP_API_URL=https://ipapi.co/json/
# API de OpenStreetMap para geocodificación inversa (coordenadas a ciudad)
NEXT_PUBLIC_NOMINATIM_API_URL=https://nominatim.openstreetmap.org/reverse